<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">{{title}}</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <button *ngIf="!loggedIn" class="mdl-button mdl-js-button" (click)="logIn()">LOGIN</button>
        <button *ngIf="loggedIn" class="mdl-button mdl-js-button" (click)="logOut()">Hi {{userName}}</button>
      </nav>
    </div>
    <div class="mdl-layout__header-row">
      <!-- <div class="mdl-layout-spacer"></div> -->
      <!-- Navigation -->
      <nav class="mdl-navigation tab-bar">
        <a class="mdl-layout__tab" routerLink="/alarms">Spaces</a>
        <a class="mdl-layout__tab is-active" routerLink="/plugs">Plugs</a>
        <a class="mdl-layout__tab" routerLink="/alarms">Alarms</a>
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>